[submodule "qi/third-party/cornucopia-lib"]
	path = qi/third-party/cornucopia-lib
	url = https://github.com/schwa423/cornucopia-lib.git
[submodule "qi/third-party/protobuf"]
	path = qi/third-party/protobuf
	url = https://github.com/google/protobuf.git
[submodule "qi/third-party/googletest"]
	path = qi/third-party/googletest
	url = https://github.com/google/googletest.git
[submodule "qi/third-party/glm"]
	path = qi/third-party/glm
	url = https://github.com/g-truc/glm.git
